deploy
/GITEA_SYNOLOGY_DEPLOY.md
/.venv/
/__pycache__/
/.pytest_cache/
/build/
/dist/
/outputs/
/weights/*
!/weights/README.zh-CN.md
!/weights/codeformer/
!/weights/facelib/
!/weights/gfpgan/
!/weights/realesrgan/
/weights/codeformer/*
/weights/facelib/*
/weights/gfpgan/*
/weights/realesrgan/*
!/weights/codeformer/.gitkeep
!/weights/facelib/.gitkeep
!/weights/gfpgan/.gitkeep
!/weights/realesrgan/.gitkeep
/weights/trt_cache/
/weights/**/*.pth
/weights/**/*.onnx
/weights/**/*.engine
*.pyc
*.pyo
*.log

samples
/docs
